* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: 'Arial', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #0c325a;
  background-image: url('../img/background-header.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 1280px;
}

nav {
  background: #0c325a;
}

a {
  text-decoration: none;
}

p {
  color: #888;
  font-weight: bold;
  line-height: 1.5;
}

#logo {
  float: left;
  height: 5vh;
  margin: 2vh 60px 3vh 0;
}

#logo img {
  height: 100%;
}

.m-left {
  float: left;
  text-align: left;
  margin-right: 20px;
}

.m-right {
  float: right;
  text-align: right;
}

ul.menu {
  height: 6vh;
  margin: 2vh 0;
}

ul.menu li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  margin-right: 20px;
  line-height: 6vh;
}

ul.menu li:last-child {
  margin-right: 0;
}

ul.menu li a {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

ul.menu li a:hover:not(.button) {
  color: #7cbb02;
}

.button {
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

.b-sm {
  padding: 12px 18px;
}

.b-big {
  padding: 24px 30px;
}

.b-trans {
  border: 1px solid #fff;
}

.b-green {
  background: #7cbb02;
}

.b-green:hover {
  background: #fff;
  color: #7cbb02;
}

.b-trans:hover {
  background: rgba(255,255,255,0.4);
  color: #fff;
}

.hero-banner {
  height: 65vh;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 18vh;
  max-width: 45%;
}

h1 {
  font-size: 56px;
  color: #fff;
  margin-bottom: 6vh;
}

.grey-strip {
  background: #d3d3d3;
  padding: 6vh 0;
  text-align: center;
}

.grey-strip h3 {
  color: #222;
  font-size: 24px;
  margin-bottom: 2vh;
}


.section-main {
  background: #fff;
  margin: 6vh 0;
}

.kp {
  float: left;
  width: 30%;
  margin-right: 5%;
  text-align: center;
}

.kp:last-child {
  margin-right: 0;
}

.kp img {
  height: 25vh;
  margin-bottom: 3vh;
}

.kp h2 {
  color: #7cbb02;
  font-size: 26px;
}

.kp hr {
  text-align: center;
  width: 20%;
  margin: 3vh auto;
  height: 1px;
  border-width: 0;
  color: grey;
  background-color: grey;
}

.kp p {
  font-size: 18px;
}

main hr {
  width: 98%;
  margin: 2vh auto;
  height: 1px;
  border-width: 0;
  color: #ccc;
  background-color: #ccc;
}

.level-container {
  width: 60%;
  margin: 0 auto;
}

.col-level {
  float: left;
}

.col-left {
  width: 50%;
  margin-right: 10%;
}

.col-left img {
  width: 100%;
  height: 50vh;
}

.col-right {
  text-align: left;
  width: 40%;
}

.col-right h2 {
  font-size: 36px;
  color: #222;
  margin-bottom: 2vh;
}

.col-right a {
  color: #5586bc;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.col-right p {
  margin-bottom: 2vh;
}

footer {
  height: 20vh;
  background: #d3d3d3;
}

footer h2 {
  font-size: 36px;
  color: #222;
  line-height: 20vh;
  float:left;
  margin-right: 50px;
}

ul.ft-input {
  float: right;
  line-height: 20vh;
}

ul.ft-input li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}

ul.ft-input li:last-child {
  margin-right: 0;
}

ul.ft-input li label {
  font-size: 15px;
  color: #444;
}

#sono {
  background: #d3d3d3;
  width: 250px;
  padding-bottom: 5px;
  font-size: 17px;
  outline: none;
  color: #444;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#sono option {
  padding: 10px;
  min-height: 1.5em;
}

#help {
  position: fixed;
  display: inline-block;
  bottom: 0;
  right: 20%;
  background: #7cbb02;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px 4px 0 0;
}

#help:hover {
  background: #0c325a;
  color: #7cbb02;
}

#help:active {
  background: #0c325a;
  color: #fff;
}
